body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    /* font-size: 200%; */
}

.top-container {
    background: #e4f9f5;
    position: relative;
    padding-top: 130px;
}

h1 {
    margin: 20px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66bfbf;    
}
.pro {
    text-decoration: underline;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

.top-container h2.programmer {
    line-height: 2px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 25%;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 30%;
    padding-bottom: 50px;
}

.mountain-image {
    padding-top: 70px;
}

.middle-container .profile img {
    width: 200px;
    border-radius: 50%;
    margin-top: 5rem;
}

.my-skills {
    padding-bottom: 4rem;

}

.skill-img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 3rem;
    float: left;
    padding-right: 20px;
}

.java-dev-img {
    float: right;
    padding-left: 20px;
}

.clearfix {
    clear: both;
    height: 50px;
}

.skill-row {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.skill-row p {
    line-height: 2;
}

hr {
    width: 10%;
    margin: 7rem auto;
    border: none;
    border-top: 10px dotted #eaf6f6;
}

hr.last-hr {
    margin-top: 3rem;
    margin-top: 2rem;
}

.contact-me h2,h3 {
    margin-bottom: 2.8rem;
}
.contact-me {
    padding-bottom: 4rem;
}
.contact-me a {
    display: inline-block;
    padding: 10px;
    border-radius: .5em;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    background: #11999e;
    margin: 1.4rem auto;
    width: 9rem;
}
.contact-me a:hover {
    background: #1f797c;
    box-shadow: 2px inset #66bfbf;
}

.bottom-container {
    background: #66bfbf;
    padding: .8rem;
}
.bottom-container a {
    color: #1f797c;
    text-decoration: none;
    margin: 2rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 110px;
}
.bottom-container p {
    color: #fff;
    text-decoration: none;
    padding-bottom: 1rem;
    background: #66bfbf;
}